#  **Movie Data Exploration**

### Author: Titilayo Amuwo

## Overview

In [62]:
This project analyzes different types of movie titles currently doing the best at the box office according to the years

SyntaxError: invalid syntax (<ipython-input-62-6693c936904b>, line 1)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
!ls zippedData/

In [ ]:
movie = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
titleBasics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
titleRatings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [ ]:
movie.info()

In [ ]:
titleBasics.info()

In [ ]:
titleRatings.info()

# Movie Data Analysis

In [63]:
movie.head(10)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010

In [64]:
movie.tail()

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [65]:
movie.shape

(3387, 5)

In [66]:
movie.dropna()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3275,I Still See You,LGF,1400.0,1500000,2018
3286,The Catcher Was a Spy,IFC,725000.0,229000,2018
3309,Time Freak,Grindstone,10000.0,256000,2018
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0,5200,2018
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200.0,30000,2018

In [67]:
movie.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [68]:
movie['title'].value_counts()

Bluebeard                           2
Dabangg                             1
Turbo                               1
Immortals                           1
No One Lives                        1
                                   ..
Titanic (20th Anniversary)          1
Far from the Madding Crowd          1
Here Comes the Boom                 1
A Woman, A Gun and A Noodle Shop    1
Mid-August Lunch                    1
Name: title, Length: 3386, dtype: int64

In [69]:
title_year=movie.value_counts(['title','year'])
title_year

title                                  year
xXx: The Return of Xander Cage         2017    1
Hippocrates, Diary of a French Doctor  2015    1
Hot Tub Time Machine                   2010    1
Hot Pursuit                            2015    1
Hostiles                               2017    1
                                              ..
Smashed                                2012    1
Smallfoot                              2018    1
Slow West                              2015    1
Slender Man                            2018    1
'71                                    2015    1
Length: 3387, dtype: int64

In [70]:
movie['title']['']

KeyError: ''

In [71]:
titleBasics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [72]:
titleRatings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21